.checkout{
    padding-bottom: 40px;
    /* margin-top: 20px; */
}
.subtotal{
    background-color: #f3f3f3ed;
    width: 300px;
    min-height: 100px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.subtotal .btn{
    margin-top: 10px;
    width: 100%;
}
.checkout img{
    /* width: 8000px !important; */
    padding: 0 !important;
}
.card__image{
    max-height: 300px;
}
.carousel__carousel{
    margin-top: 100px !important;
}
.CheckoutItem img{
    height: 250px;
}
.CheckoutItem{
    margin-bottom: 30px;
}
.Cards__main:hover, .CheckoutItem:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.05);
    transform: scale(1.01);
    transition: 0.1s cubic-bezier(.17,.67,.83,.67);
}
.payment__margin{
    margin-top: 133px !important;
}